body {
  background-color: #f2f2f2;
  font-size: 14px; }

header {
  color: #303030;
  font-size: 18px;
  font-weight: bold; }

button {
  background: linear-gradient(#01c2fb, #03a7ff);
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  color: #fff;
  font-size: 12px;
  padding: 0.6em 1.2em; }
  button.hidden {
    display: none; }

.l-container {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  padding: 20px;
  width: 400px; }

.flat-description__text {
  border: 1px solid #d3d3d3;
  border-left: none;
  border-right: none;
  margin: 10px 0; }

.flat-description__show-more {
  float: right; }

.extra-info {
  max-height: 250px; }

.short-description__text,
.extra-info__text {
  color: #70747c; }

.clearfix:after, .l-container:after {
  content: '';
  display: table;
  clear: both; }

.hidden {
  max-height: 0;
  overflow: hidden; }

.separator {
  text-align: center; }

.slideable {
  overflow: hidden;
  transition: max-height 0.4s; }
